<th:block th:include="@{_header.html}" />
<main>
	<!-- 카테고리/베스트 상품 영역 -->
	<aside><th:block th:include="@{_category.html}" /></aside>

	<!-- 상품목록 -->
	<section id="list">

		<!-- 제목, 페이지 네비게이션 -->
		<nav>
			<h1>[[${titles.tit1}]] 상품리스트</h1>
			<p>
				HOME > <span>[[${titles.tit1}]]</span> > <strong>[[${titles.tit2}]]</strong>
			</p>
		</nav>

		<!-- 정렬방식 링크 -->
		<ul class="sort">
			<li><a th:href="@{shop/list(cate1=${cate1}, cate2=${cate2}, sort=1)}">판매많은순</a></li>
			<li><a th:href="@{shop/list(cate1=${cate1}, cate2=${cate2}, sort=2)}">낮은가격순</a></li>
			<li><a th:href="@{shop/list(cate1=${cate1}, cate2=${cate2}, sort=3)}">높은가격순</a></li>
			<li><a th:href="@{shop/list(cate1=${cate1}, cate2=${cate2}, sort=4)}">평점높은순</a></li>
			<li><a th:href="@{shop/list(cate1=${cate1}, cate2=${cate2}, sort=5)}">후기많은순</a></li>
			<li><a th:href="@{shop/list(cate1=${cate1}, cate2=${cate2}, sort=6)}">최근등록순</a></li>
		</ul>

		<!-- 상품목록 10개 -->
		<section>
        <article th:each="product:${products}">
          <ul>
            <li>
              <a th:href="@{/shop/view}" class="thumb">
              	<img th:src="@{/thumb/{c1}/{c2}/{img}(c1=${product.cate1}, c2=${product.cate2}, img=${product.thumb2})}" alt="목록 이미지"/>   
              </a>
            </li>
            <li>
              <h3 class="name">[[${product.name}]]</h3>
              <p class="desc">
                <a href="#">[[${product.descript}]]</a>
              </p>
            </li>
            <li>
              <div class="dis_price">
                <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
              </div>
              <div class="org_price">
                <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
               	<span>[[${product.discount}]]%</span>
              </div>
              <span th:if="${product.delivery == 0}" class="freeshipping">무료배송</span>
			  <span th:if="${product.delivery > 0}">배송비 [[${#numbers.formatInteger(product.delivery, 3, 'COMMA')}]]원</span>
            </li>
            <li>
              <h4 class="seller"><i class="fas fa-home"></i>&nbsp;[[${product.company}]]</h4>
              <h5 class="badge power">판매자등급</h5>
              <h6 th:if="${product.score == 1}" class="rating star1">상품평</h6>
              <h6 th:if="${product.score == 2}" class="rating star2">상품평</h6>
              <h6 th:if="${product.score == 3}" class="rating star3">상품평</h6>
              <h6 th:if="${product.score == 4}" class="rating star4">상품평</h6>
              <h6 th:if="${product.score == 5}" class="rating star5">상품평</h6>
            </li>
          </ul>
        </article>
		</section>

		<!-- 상품목록 페이지번호 -->
		<div class="paging">
			<span class="prev"> <a href="#"><&nbsp;이전</a>
			</span> <span class="num"> <a href="#" class="on">1</a> <a href="#">2</a>
				<a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
				<a href="#">7</a>
			</span> <span class="next"> <a href="#">다음&nbsp;></a>
			</span>
		</div>

	</section>
</main>
<th:block th:include="@{_footer.html}" />