<th:block th:include="@{_header.html}" />
<main>
	<!-- 카테고리/베스트 상품 영역 -->
	<aside>
		<th:block th:include="@{_category.html}" />
	</aside>

	<!-- 상품목록 -->
	<section id="list">

		<!-- 제목, 페이지 네비게이션 -->
		<nav>
			<h1>남성의류 상품리스트</h1>
			<p>
				HOME > <span>패션·의류·뷰티</span> > <strong>남성의류</strong>
			</p>
		</nav>

		<!-- 정렬방식 링크 -->
		<ul class="sort">
			<li><a href="#">판매많은순</a></li>
			<li><a href="#">낮은가격순</a></li>
			<li><a href="#">높은가격순</a></li>
			<li><a href="#">평점높은순</a></li>
			<li><a href="#">후기많은순</a></li>
			<li><a href="#">최근등록순</a></li>
		</ul>

		<!-- 상품목록 10개 -->
		<section>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t1.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">FreeMovement BLUEFORCE</h3>
						<p class="desc">
							<a href="#">[블루포스] 여름신상 남방/솔리드긴팔남자옷/데님청/체크스판셔츠</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;블루포스
						</h4>
						<h5 class="badge power">판매자등급</h5>
						<h6 class="rating star1">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t2.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge great">판매자등급</h5>
						<h6 class="rating star2">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t3.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star3">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t4.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star4">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t5.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상정명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star5">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t5.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star5">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t5.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star5">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t5.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star5">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t5.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star5">상품평</h6>
					</li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" class="thumb"><img
							src="../img/thumb-sample-t5.jpg" alt="상품이미지" /></a></li>
					<li>
						<h3 class="name">상품명</h3>
						<p class="desc">
							<a href="#">상품설명</a>
						</p>
					</li>
					<li>
						<div class="dis_price">
							<ins>27,000</ins>
						</div>
						<div class="org_price">
							<del>30,000</del>
							<span>10%</span>
						</div> <span class="freeshipping">무료배송</span>
					</li>
					<li>
						<h4 class="seller">
							<i class="fas fa-home"></i>&nbsp;판매자상점명
						</h4>
						<h5 class="badge power great">판매자등급</h5>
						<h6 class="rating star5">상품평</h6>
					</li>
				</ul>
			</article>
		</section>

		<!-- 상품목록 페이지번호 -->
		<div class="paging">
			<span class="prev"> <a href="#"><&nbsp;이전</a>
			</span> <span class="num"> <a href="#" class="on">1</a> <a href="#">2</a>
				<a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
				<a href="#">7</a>
			</span> <span class="next"> <a href="#">다음&nbsp;></a>
			</span>
		</div>

	</section>
</main>
<th:block th:include="@{_footer.html}" />