<th:block th:include="@{_header.html}" />

<script th:inline="javascript">
	
	$(function(){
		
		// 포인트 할인적용
		$('.btnPoint').click(function(){
			
			var pointField    = $('input[name=point]');     		// 포인트 입력창
			var point         = Number(pointField.val());			// 포인트 입력값
			var currentPoint  = $('.currentPoint');	  				// 현재 포인트
			var cPoint        = Number(currentPoint.text()); 		// 현재 포인트 입력
			var pointDiscount = $('.pointDiscount');

			if (point == 0) {
				
				// 포인트값을 입력안하고 눌렀을 경우
				alert("할인 적용할 포인트를 입력하세요");
				
				
			}else if(point > cPoint){
				
				// 포인트가 부족할 경우
				alert("포인트가 부족합니다.");
				pointField.val(0);
				
				
			}else{
				
				// 포인트 입력 -> 적용
				currentPoint.text(cPoint - point);
				pointDiscount.text(point.toLocaleString());
				var finalPrice = $('.final').text().replace(/,/g,'');
				finalPrice -= point;
				$('.final').text(finalPrice.toLocaleString());
			}
		
		});
		
		// 최종 주문하기
		
			
		$('input[name=finalOrder]').click(function(){
			
			var orderId    = $('input[name=orderId]').val();
			var orderer    = $('input[name=orderer]').val();
			var hp 		   = $('input[name=hp]').val();
			var zip 	   = $('input[name=zip]').val();
			var addr1 	   = $('input[name=addr1]').val();
			var addr2      = $('input[name=addr2]').val();
			var payment    = $('input[name=payment]:checked').val();
			var applyPoint = $('.pointDiscount').text().replace(/,/g, '');;
			
			var jsonData = {
				'orderId' : orderId,
				'orderer' : orderer,
				'hp' : hp,
				'zip' : zip,
				'addr1' : addr1,
				'addr2' : addr2,
				'payment' : payment,
				'applyPoint' : applyPoint
			}
			
			// console.log 확인하고 전송

			
			$.ajax({
				
				url : '/kmarket/shop/order-complete',
				type : 'post',
				data : jsonData,
				dataType : 'json',
				success : function(data){
					location.href='/kmarket/shop/order-complete?orderId='+orderId;
					
				}
			
			}); // ajax-end...
			
		});  
			
	});
	
</script>

<main>
	<!-- 카테고리/베스트 상품 영역 -->
	<aside>
		<th:block th:include="@{_category.html}" />
	</aside>
	<!-- 주문결제 -->
	<section id="order">
		<!-- 제목, 페이지 네비게이션 -->
		<nav>
			<h1>주문결제</h1>
			<p>
				HOME > 장바구니 > <strong>주문결제</strong>
			</p>
		</nav>
		<section>
			<form action="#">
				<div class="product">
					<table>
						<tr>
							<th>상품명</th>
							<th>총수량</th>
							<th>판매가</th>
							<th>할인률</th>
							<th>포인트</th>
							<th>배송비</th>
							<th>소계</th>
						</tr>
						<tr class="empty">
							<td colspan="7">장바구니에 상품이 없습니다.</td>
						</tr>
						<tr th:each="product:${orders}">
							<td>
								<article>
									<a href="#"><img th:src="@{/thumb/{c1}/{c2}/{img}(c1=${product.cate1}, c2=${product.cate2}, img=${product.thumb1})}" alt="목록 이미지"/></a>
									<div>
										<h2>
											<a href="#">[[${product.pName}]]</a>
										</h2>
										<p>SIZE:M / COLOR:블루 1개</p>
									</div>
								</article>
							</td>
							<td class="count">1</td>
							<td class="price">[[${#numbers.formatInteger(product.pPrice, 3, 'COMMA')}]]</td>
							<td class="discount">[[${product.pDiscount}]]%</td>
							<td class="point">[[${product.pPoint}]]</td>
							<td class="delivery" th:if="${product.pDelivery == 0}">무료배송</td>
							<td class="delivery" th:unless="${product.pDelivery == 0}">[[${#numbers.formatInteger(product.pDelivery, 3, 'COMMA')}]]</td>
							<td class="total" th:if="${product.pDelivery == 0}">[[${#numbers.formatInteger(product.pTotal, 3, 'COMMA')}]]</td>
							<td class="total" th:unless="${product.pDelivery == 0}">[[${#numbers.formatInteger(product.pTotal + product.pDelivery, 3, 'COMMA')}]]</td>
						</tr>
					</table>
				</div>

				<section>
					<article class="delivery">
						<h1>배송정보</h1>
						<table>
							<tr>
								<td>주문자</td>
								<td><input type="text" name="orderer" th:value="${memberVo.name}"/></td>
							</tr>
							<tr>
								<td>휴대폰</td>
								<td><input type="text" name="hp" th:value="${memberVo.hp}"/> <span>- 포함 입력</span></td>
							</tr>
							<tr>
								<td>우편번호</td>
								<td><input type="text" name="zip" th:value="${memberVo.zip}"/> <input type="button" value="검색" /></td>
							</tr>
							<tr>
								<td>기본주소</td>
								<td><input type="text" name="addr1" th:value="${memberVo.addr1}"/></td>
							</tr>
							<tr>
								<td>상세주소</td>
								<td><input type="text" name="addr2" th:value="${memberVo.addr2}"/></td>
							</tr>
						</table>
					</article>

					<article class="discount">
						<h1>할인정보</h1>

						<div>
							<p>
								현재 포인트 : <span class="currentPoint">[[${memberVo.point}]]</span>점
							</p>
							<label> 
								<input type="text" name="point" value="0"/>점
								<input type="button" value="적용" class="btnPoint"/>
							</label> <span>포인트 5,000점 이상이면 현금처럼 사용 가능합니다.</span>
						</div>
					</article>

					<article class="payment">
						<h1>결제방법</h1>
						<div>
							<span>신용카드</span>
							<p>
								<label><input type="radio" name="payment" value="1" />신용카드 결제</label>
								<label><input type="radio" name="payment" value="2" />체크카드 결제</label>
							</p>
						</div>
						<div>
							<span>계좌이체</span>
							<p>
								<label><input type="radio" name="payment" value="3" />실시간 계좌이체</label>
								<label><input type="radio" name="payment" value="4" />무통장 입금</label>
							</p>
						</div>
						<div>
							<span>기타</span>
							<p>
								<label><input type="radio" name="payment" value="5" />휴대폰결제</label>
								<label><input type="radio" name="payment" value="6" />카카오페이
									   <img src="../img/ico_kakaopay.gif" alt="카카오페이" />
								</label>
							</p>
						</div>
					</article>

					<article class="alert">
						<ul>
							<li><span>케이마켓의 모든 판매자는 안전거래를 위해 구매금액, 결제수단에 상관없이
									모든거래에 대하여 케이마켓 유한책임회사의 구매안전서비스(에스크로)를 제공하고 있습니다.</span></li>
							<li><span>케이마켓 유한책임회사의 전자금융거래법에 의해 결제대금예치업 등록번호는
									02-006-00008 입니다.</span></li>
							<li><span>등록여부는 금융감독원 홈페이지(www.fss.or.kr)의
									업무자료>인허가업무안내>전자금융업등록현황에서 확인하실수 있습니다.</span></li>
						</ul>
					</article>

					<article class="info">
						<input type="hidden" name="orderId" th:value="${infoData.orderId}"/>
						<h2>최종결제 정보</h2>
						<table border="0">
							<tr>
								<td>총</td>
								<td>[[${infoData.count}]]</td>
							</tr>
							<tr>
								<td>상품금액</td>
								<td>[[${#numbers.formatInteger(infoData.price, 3, 'COMMA')}]]</td>
							</tr>
							<tr>
								<td>할인금액</td>
								<td>[[${#numbers.formatInteger(infoData.discount, 3, 'COMMA')}]]</td>
							</tr>
							<tr>
								<td>배송비</td>
								<td>[[${#numbers.formatInteger(infoData.delivery, 0, 'COMMA')}]]</td>
							</tr>
							<tr>
								<td>포인트 할인</td>
								<td class="pointDiscount">0</td>
							</tr>
							<tr>
								<td>전체주문금액</td>
								<td class="final">[[${#numbers.formatInteger(infoData.total, 3, 'COMMA')}]]</td>
							</tr>

						</table>
						<input type="button" name="finalOrder" value="결제하기"/>
					</article>
					
				</section>
			</form>
		</section>
	</section>
</main>
<th:block th:include="@{_footer.html}" />








