<th:block th:include="@{_header.html}" />
<script th:inline="javascript">
	$(function(){
		
		// 장바구니 버튼 클릭
		$('input.cart').click(function(){
			
			var product = [[${product}]];
			var count = 1;  // 수량 
			var total = parseInt((product.price * count) * (1 - product.discount / 100));  // 총금액
			// JSON 데이터
			var jsonData = {
					
				'code': product.code,
				'name': product.name,
				'count': count,
				'price': product.price,
				'discount': product.discount,
				'point': product.point,				
				'delivery': product.delivery,				
				'total': total		
				
			}
			
 			$.ajax({
				url: '/kmarket/shop/cart',
				type: 'post',
				data: jsonData,    // JSON 데이터로 서버 전송
				dataType: 'json',  // 서버에서 클라이언트로 되돌려주는 데이터 값 타입
				success: function(data){
					
					if (data.result == 1) {
						
						alert("장바구니에 상품을 추가했습니다.");
						
					}else if(data.result == 2) {
						
						alert("로그인이 필요합니다.");
						
					}else if(data.result == 3){
						
						alert("이미 장바구니에 상품이 있습니다.");
					}
					
				}
			
			});
 			
		});
		
		// 구매하기 버튼 클릭
		$('input.order').click(function(){
			
			
		});
		
	});
</script>

<main>
	<!-- 카테고리/베스트 상품 영역 -->
	<aside>
		<th:block th:include="@{_category.html}" />
	</aside>

	<!-- 상품 상세페이지 -->
	<section id="view">
		<nav>
			<h1>[[${product.name}]]</h1>
			<p>
				HOME > <span>[[${product.tit1}]]</span> > <strong>[[${product.tit2}]]</strong>
			</p>
		</nav>
		<section>
			<article class="info">
				<div class="image">
					<img th:src="@{/thumb/{c1}/{c2}/{img}(c1=${product.cate1}, c2=${product.cate2}, img=${product.thumb2})}" alt="목록 이미지"/>
				</div>
				<div class="summary">
					<nav>
						<h1>[[${product.company}]]</h1>
						<h2>
							상품번호&nbsp;:&nbsp;<span>[[${product.code}]]</span>
						</h2>
					</nav>
					<p>[[${product.descript}]]</p>
					<nav>
						<h5 th:if="${product.score == 1}" class="rating star1"><a href="#">상품평보기</a></h5>
						<h5 th:if="${product.score == 2}" class="rating star2"><a href="#">상품평보기</a></h5>
						<h5 th:if="${product.score == 3}" class="rating star3"><a href="#">상품평보기</a></h5>
						<h5 th:if="${product.score == 4}" class="rating star4"><a href="#">상품평보기</a></h5>
						<h5 th:if="${product.score == 5}" class="rating star5"><a href="#">상품평보기</a></h5>
					</nav>
					<nav>
						<div class="dis_price">
							<ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
						</div>
						<div class="org_price">
							<del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
							<span>[[${product.discount}]]%</span>
						</div>
					</nav>
					<nav>
						<span th:if="${product.delivery == 0}" class="freeshipping">무료배송</span>
			  			<span th:if="${product.delivery > 0}">배송비 [[${#numbers.formatInteger(product.delivery, 3, 'COMMA')}]]원</span>
			  			<span class="arrival">모레(금) 7/28 도착예정</span>
			  			<span class="desc">본 상품은 국내배송만 가능합니다.</span>
					</nav>
					<nav>
						<span class="card cardfree"><i>아이콘</i>무이자할부</span>&nbsp;&nbsp; 
						<span class="card cardadd"><i>아이콘</i>카드추가혜택</span>
					</nav>
					<nav>
						<span class="origin">원산지-상세설명 참조</span>
					</nav>
					<img src="../img/vip_plcc_banner.png" alt="100원만 결제해도 1만원 적립!" class="banner" />
					<div class="total">
						<span>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</span> 
						<em>총 상품금액</em>
					</div>

					<div class="button">
						<input type="button" class="cart" value="장바구니" /> 
						<input type="button" class="order" value="구매하기" />
					</div>

				</div>
			</article>
			<article class="detail">
				<nav>
					<h1>상품정보</h1>
				</nav>
				<!-- 상품상세페이지 이미지 -->
				<img th:src="@{/thumb/{c1}/{c2}/{img}(c1=${product.cate1}, c2=${product.cate2}, img=${product.detail})}" alt="상품 상세 이미지"/>
			</article>

			<article class="notice">
				<nav>
					<h1>상품 정보 제공 고시</h1>
					<p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
				</nav>
				<table border="0">
					<tr>
						<td>상품번호</td>
						<td>[[${product.code}]]</td>
					</tr>
					<tr>
						<td>상품상태</td>
						<td>[[${product.status}]]</td>
					</tr>
					<tr>
						<td>부가세 면세여부</td>
						<td>[[${product.dutyFree}]]</td>
					</tr>
					<tr>
						<td>영수증발행</td>
						<td>[[${product.receipt}]]</td>
					</tr>
					<tr>
						<td>사업자구분</td>
						<td>[[${product.bizClass}]]</td>
					</tr>
					<tr>
						<td>브랜드</td>
						<td>[[${product.company}]]</td>
					</tr>
					<tr>
						<td>원산지</td>
						<td>[[${product.origin}]]</td>
					</tr>
				</table>
				<table border="0">
					<tr>
						<td>제품소재</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>색상</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>치수</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>제조자/수입국</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>제조국</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>취급시 주의사항</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>제조연월</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>품질보증기준</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>A/S 책임자와 전화번호</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td>주문후 예상 배송기간</td>
						<td>상세정보 직접입력</td>
					</tr>
					<tr>
						<td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의
							특이사항이 있는 경우</td>
					</tr>
				</table>
				<p class="notice">소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에
					따라 청약철회를 하고 동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
					환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조 제2항 및 동법 시행령
					제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여 산정한 지연이자(“지연배상금”)를 신청할 수
					있습니다. 아울러, 교환∙반품∙보증 및 결제대금의 환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별
					판매자에게 연락하여 주시기 바랍니다.</p>
			</article>
			<article class="review">
				<nav>
					<h1>상품리뷰</h1>
				</nav>
				<ul>
					<li>
						<div>
							<h5 class="rating star4">상품평</h5>
							<span>seo****** 2018-07-10</span>
						</div>
						<h3>상품명1/BLUE/L</h3>
						<p>가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀
							힘드네요. 아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서
							판매하는 제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~</p>
					</li>
					<li>
						<div>
							<h5 class="rating star4">상품평</h5>
							<span>seo****** 2018-07-10</span>
						</div>
						<h3>상품명1/BLUE/L</h3>
						<p>가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀
							힘드네요. 아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서
							판매하는 제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~</p>
					</li>
					<li>
						<div>
							<h5 class="rating star4">상품평</h5>
							<span>seo****** 2018-07-10</span>
						</div>
						<h3>상품명1/BLUE/L</h3>
						<p>가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀
							힘드네요. 아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서
							판매하는 제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~</p>
					</li>
					<li>
						<div>
							<h5 class="rating star4">상품평</h5>
							<span>seo****** 2018-07-10</span>
						</div>
						<h3>상품명1/BLUE/L</h3>
						<p>가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀
							힘드네요. 아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서
							판매하는 제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~</p>
					</li>
					<li>
						<div>
							<h5 class="rating star4">상품평</h5>
							<span>seo****** 2018-07-10</span>
						</div>
						<h3>상품명1/BLUE/L</h3>
						<p>가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀
							힘드네요. 아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서
							판매하는 제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~</p>
					</li>
				</ul>
				<div class="paging">
					<span class="prev"> <a href="#"><&nbsp;이전</a>
					</span> <span class="num"> <a href="#" class="on">1</a> <a href="#">2</a>
						<a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
						<a href="#">7</a>
					</span> <span class="next"> <a href="#">다음&nbsp;></a>
					</span>
				</div>

			</article>
		</section>
	</section>
</main>
<th:block th:include="@{_header.html}" />