<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>list</title>
</head>
<body>
	<a th:href="@{/member/register}">직원등록</a>
	
	<h4>직원목록</h4>
	<table border="1"> 
		<tr>
			<th>아이디</th>
			<th>이름</th>
			<th>휴대폰</th>
			<th>직급</th>
			<th>부서</th>
			<th>입사일</th>
			<th>관리</th>
		</tr>
		
		<tr th:each="member:${members}">
			<td>[[${member.uid}]]</td>
			<td>[[${member.name}]]</td>
			<td>[[${member.hp}]]</td>
			<td>[[${member.pos}]]</td>
			<td>[[${member.dep}]]</td>
			<td>
				<a th:href="@{/member/modify(uid=${member.uid})}">수정</a> 
				<a th:href="@{/member/delete(uid=${member.uid})}">삭제</a>
			</td>
		</tr>



	</table>
</body>
</html>




























